{% extends 'master.html' %}

{% block content %}



<form action="" method="post">
    {% csrf_token %}
    <br>
{{ choice_form }}
        <input type="submit" value="Save" />

</form>

{% endblock %}