{% extends 'master.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<br><a href="{% url 'add_choice' question.id %}">Add Choice</a>
<head>
    <meta charset="UTF-8">
    <title>Question Details</title>
</head>
<body>

<br>
<br>
<h2>{{ question.question_text }}</h2>
</br>
{{ question.pub_date }}
</br>

<hr/>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {% for chc in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ chc.id }}" />
        <label for="choice{{ forloop.counter }}" >{{ chc.choice }} <a href="{% url 'delete_choice' chc.id %}"> Delete </a>  </label><br />
    {% endfor %}
<hr/>
    <input type="submit" value="Vote" />

</form>




</body>

</html>
{% endblock %}