<!DOCTYPE html>
<html lang="en">
<a href="{% url 'add_question' %}">Add Question</a>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% if lastest_question_list %}
    <ul>
    {% for question in lastest_question_list %}
    <li><a href="{% url 'detail' question.pk %}">{{ question.question_title }}</a>  <a href="{% url 'delete_question' question.id %}"> Delete </a> </li>
    {% endfor %}
    </ul>
{% else %}

   <p>There are no questions available</p>
{% endif %}


</body>

</html>