{% extends 'master.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    {% if question.choice_set %}
        {% for ch in question.choice_set.all %}

           <p>{{ ch.choice }} ----> {{ ch.vote }}</p>
        {% endfor %}

{% else %}
    <p>no votes</p>
{% endif %}

</body>
</html>
{% endblock %}